/*************** 1.Variables ***************/


/* ------------------ Color Pallet ------------------ */


/*************** 2.Mixins ***************/


/************************************************
    ************************************************
										Search Box
	************************************************
************************************************/
.view-control{
    height: 42vh;
}
@media screen and (max-width:768px){
    .view-control{
        height: 44vh;
    }
}
@media screen and (max-width:425px){
    .view-control{
        position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 34vh;
    }
}
.view-control iframe{
    height: 80%;
}

@media only screen and (max-width: 1000px) {
    .collape {
        display: block !important;
    }
    .right_side {
        display: none;
    }
}
#mySidenav .user-info a{

}
.user-info{
    position: relative;
}
.user-info:hover .user-profile{
    display: block;
}
.user-profile{
    cursor: pointer;
    display: none;
    background-color: #343A40;
    color: white;
    position: absolute;
    width: 120px;
    height: auto;
    top: 85%;
    left: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    z-index: 100;
}
.user-profile ul{
    margin: 0px;
}
.user-profile li{
    padding: 5px 10px;
}
.user-profile li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
.user-profile li:hover{
    background-color: #191B1E;
    border-radius: 8px;
}
.collape {
    display: block;
}

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
    background: #1C1F22;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .chat-search-box {
        display: none;
    }
}


/************************************************
	************************************************
									Users Container
	************************************************
************************************************/

.users-container {
    position: relative;
    background: #191B1E;
    /* padding: 1rem 0; */
    /* border-right: 1px solid #e6ecf3; */
    height: fit-content;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


/************************************************
	************************************************
											Users
	************************************************
************************************************/

.users {
    padding: 0;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.users .person .user .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.users .person .user .status.online {
    background: #9ec94a;
}

.users .person .user .status.offline {
    background: #c4d2e2;
}

.users .person .user .status.away {
    background: #f9be52;
}

.users .person .user .status.busy {
    background: #fd7274;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}


/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
    width: 100%;
    /* padding: 0 15px; */
    /* min-height: 150px; */
    line-height: 64px;
    /* border-bottom: 1px solid #e6ecf3; */
    background: black;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
    padding: 1rem;
    overflow-y: scroll;
    height: 58vh;
    background: black;
}
@media screen and (max-width:768px){
    .chat-container {
        height: 65vh;
    }
}
@media screen and (max-width:425px){
    .chat-container {
        height: 100vh;
    }
}
button:focus{
    box-shadow: none !important;
    outline: none;
}
.bg_black {
    background: black;
}

.Scroll_div {
    padding: 1rem;
    overflow-y: scroll;
    height: 40vh;
}

.left_border {
    border-left: 3px solid orange;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-container li img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

}
.chat-container{
    padding-bottom: 120px;
}
.btn_send{
    cursor: pointer;
}

/* .chat-container li .chat-avatar {
    margin-right: 20px;
} */

.chat-container li.chat-right {
    justify-content: flex-end;
    margin-left: auto;
}
.chat-details{
    text-align: end;
    font-size: 10px;
    color: #8f8a8a;
}
.my-chat{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;   
    flex-wrap: wrap;

    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    -webkit-gap: 12px;
    gap: 12px;
    
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    width: 50%;
}

.your-chat{
    display: flex;
    justify-content: start;
    gap: 12px;
    /*align-items: center;*/
    width: 50%;
}
.chat-container  li.my-chat .chat-text:before {
    transform: rotateY(180deg) !important;
    right: -18px !important;
    left: inherit;
}

.chat-container li.chat-right>.chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #24272B;
    color: white;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    font-size: 13px;
}

.chat-container li .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #24272B transparent transparent;
}

.chat-container li.chat-right>.chat-text {
    text-align: right;
}

.chat-container li.chat-right>.chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #24272B;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0px;
    color: #818181;
}

.input_search {
    background: transparent !important;
    border: 1px solid #818181;
}

.icons a {
    color: #282D31;
    font-size: 18px;
}

.icons a:hover {
    color: #818181;
}

.purple {
    color: purple;
    font-weight: 600;
}

.orange {
    color: orange;
    font-weight: 600;
}

.search_div {
    transition: all 2s linear;
}

.chat-container li .chat-hour>span {
    font-size: 16px;
    color: #9ec94a;
    display: none;
}

.chat-container li.chat-right>.chat-hour {
    margin: 0 15px 0 0;
}

@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
}

.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}

.con-back {
    background: url('../image/bg-dark.jpg');
    background-size: cover;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #191B1E;
    border-radius: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: white;
    height: 80px;
    border-radius: 20px;
}

.div1 {
    margin-top: -6px !important;
    background: #24272B !important;
    color: white;
    height: 20%;
    display: flex;
    align-items: center;
}

.message_div {
    background-color: #24272B;
    position: absolute;
    bottom: 0;
    position: fixed;
    width: 67%;
}
@media screen and (max-width:990px){
    .message_div {
        width: 100%;
    }
}

.bg_time {
    background-color: #191B1E;
    border-radius: 20px;
    font-size: 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #bbbdbf;
}

.message_icon {
    align-items: center;
}

.message_icon i {
    color: white;
    font-size: 23px;
}

.member_div {
    color: lightgray;
    font-size: 17px;
}

.member_div p {
    font-size: 12px;
}

.member_div div {
    align-items: center;
}

.btn_send {
    background: #1E1E1E;
    border: none;
    border-radius: 35px;
    padding: 8px;
}

.message_input {
    background: #191B1E;
    border: none;
    border-radius: 20px;
}

.message_input:focus {
    background: #191B1E;
}

.member_div {
    align-items: center;
}

.button_dots {
    background: transparent;
    border: none;
    position: relative;
}

.button_dots i {
    color: white;
}
.button_dots .dropdown-menu{
    top: 40px !important;
    left: 0px !important;
    transform: translateX(-85%) !important;
}

.search_input,
.search_input:focus {
    background: #282D31;
    border-radius: 0px 20px 20px 0px !important;
    border: none;
}

.btn_search {
    background: #282D31 !important;
    color: gray;
    border-radius: 20px 0px 0px 20px !important;
    outline: none !important;
    border: none !important;
}

.bg_music {
    background: url('../image/782-gr-R8Mt30L6pg.png');
    background-size: 100% 100%;
    min-height: 200px;
}

.img_circle {
    width: 80px;
    border: 3px solid white;
}

.img_div i {
    font-size: 30px;
}
.light-theme .bg-dark2{
    background-color: white;
    color: black;
}
.bg-dark2 {
    background: #191B1E;
}

.container2 {
    width: 80%;
    margin-left: 10%;
    bottom: -142px;
}

.btn_gra {
    background: linear-gradient(to right, #E91E63, #FF9C07) !important;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: none !important;
    margin-bottom: 20px;
}
.tab-play{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}
@media screen and (max-width:425px){
    .tab-play{
        font-size: 14px;
    }
}
.tab-play span{
    font-size: 16px;
    text-align: center;
}
.share-btn{
    border: none;
    margin-top: 25%;
    background-color: #37c137;
    font-size: 42px;
    color: white;
    padding: 10px 50px;
    border-radius: 25px;
}
.share-btn.mobile{
    font-size: 32px;
    padding: 8px 35px;
}
.btn_gra:hover {
    outline: none;
    border: none;
    box-shadow: none !important;
}

.border_right {
    border-right: 0.5px solid #524f4f;
}

.a_chat {
    color: white;
}

.a_chat:hover {
    text-decoration: none;
    color: gray;
}

.bg-dark3 {
    background: #1C1F23;
}

.btn3 {
    background: none;
    border: none;
}

.dropdown-menu a:hover {
    background-color: #111 !important;
}

.drop2 {
    margin-right: 1rem;
}

.nav-tabs li a {
    color: white;
}

.nav-tabs li a:hover {
    /* color: black; */
    border: none;
}

.btn_1 {
    border: none;
    height: 20px;
    background: gray;
    color: white;
    border-radius: 20px 0px 0px 20px;
    font-size: 12px;
}

.btn_2 {
    border: none;
    height: 20px;
    background: gray;
    color: white;
    border-radius: 0px 20px 20px 0px;
    font-size: 12px;
}

.cont {
    min-height: 500px !important;
}

.btn_2:hover {
    background: #1C1F22;
}

.btn_1:hover {
    background: #1C1F22;
}

.d_none {
    display: none;
}

@media only screen and (max-width: 450px) {
    /*Tablets [601px -> 1200px]*/
    /* .dropdown-menu {
        left: -70px !important;
    } */
    .bg_time {
        font-size: 9px;
    }
    .message_icon i {
        color: white;
        font-size: 18px;
    }
}


/* sidebar */

.sidenav {
    height: 100%;
    /* width: 400px !important; */
    position: fixed;
    z-index: 100 !important;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 12px 9px 5px 3px;
        text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 15px;
    }
}
/* Light theme */
.light-theme{
    background-color: white;
}
.light-theme .bg-dark{
    background-color: #e9eff5 !important;
    color: black;
}
.light-theme .bg-dark3{
    background-color: white;
    color: black;
}

.light-theme .text-light{
    color: black !important;
    background-color: transparent;
}
.light-theme .nav-tabs li a{
    color: black;
}
.light-theme .message_div{
    background-color: #F0F8FF;
}
.light-theme .message_icon i{
    color: black;
}
.light-theme .message_input{
    background-color: white;
    color: black;
}
.light-theme .btn_send{
    background-color: white;
}
.light-theme .chat-container{
    background-color: white;
}
.light-theme .chat-container li .chat-text{
    background-color: #e9eff5;
    color: black;
}
.light-theme .chat-container li .chat-text:before{
    border-color: transparent #e9eff5 transparent transparent;
}
.light-theme .bg_time{
    background-color: #e9eff5;
    color: black;
}
.light-theme .member_div{
    color: black;
}
.light-theme .button_dots i{
    color: black;
}
.light-theme .sidenav{
    background-color: #e9eff5;
    color: black;
}
.light-theme .bg_black{
    background-color: #fff;
}
.light-theme .dropdown-menu a:hover{
    background-color: white !important;
    color: #1E1E1E !important;
}
.light-theme .user-profile{
    background-color:  #e9eff5;
}
.light-theme .user-profile li a{
    color: #191B1E;
}
.light-theme .user-profile li:hover{
    background-color: #F0F8FF;
}
.light-theme ::-webkit-scrollbar{
    background-color: #9c9696;
    color: black;
}
.fa-file{
    position: relative;
    cursor: pointer;
}

/* gif tab */
.gif-icons{
    position: absolute;
    left: -1px;
    bottom: -1px;
    background-color: #24272B;
    font-size: 9px;
    padding: 2px;
    width: 115%;
    border: none;
}
.gif-tab{
    transition: 0.3s;
}
.gif-tab span{
    background-color: #191B1E;
    padding: 0px 5px;
    border-radius: 8px;
    font-size: 12px;
    color: #24272B;
}
.git-input{
    background-color: #24272B;
    border:1px solid #1e1e1e !important;
    color: #495057;

}
.git-input::placeholder{
    color: #bbbdbf;
}
.our-gifs{
  height: 220px;
  overflow-y: scroll;
  background-color: #1C1F23;
}

@media screen and (max-width:768px){
    .our-gifs{
        height:150px;
      }
    .gif-icons{
        font-size: 8px;
    }

    .gifupload {
        height: 75px !important;
    }

    /*.dropdown-menu{*/

    /*    transform: translate3d(342px, 34px, 0px) !important;*/
    /*}*/
}

/*my css*/


.fa-play, .fa-step-forward, .fa-pause, .fa-step-backward {
    font-size: 20px;

}
.imgSticker{
    border-radius: 1px !important;
    display: block;
    width: 100% !important;
    height: auto!important;
}
.nav-tabs li a:hover{
    border: none!important;
}
.vistProfile{
    cursor: pointer;
}

.reportmsg,   .gifupload {
    cursor: pointer;
}

.emojionearea, .emojionearea.form-control {
    display: block;
    position: relative !important;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 14px;
    background-color: #24272b !important;
    border: 1px solid #1e1e1e !important;
    background: #191B1E;
    border: none;
    border-radius: 20px;

}

.emojionearea.emojionearea-inline > .emojionearea-button {
    top: 4px;
    background: white !important;
}
#mySidenav{
    width: 0;
}
.gif-tab{
    display: none;
}

.emojionearea .emojionearea-button > div {

    /* color: red; */
    /* background: white !important; */

}

.emojionearea, .emojionearea * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #b1aeae;
}

.form-control:focus {
    background: transparent;
    color: white;
    outline: none;
    box-shadow: none;
}

::placeholder {
    color: white;
}
@media only screen and (max-width: 768px) {
    .my-chat {
        width: 90% !important;
    }

    .your-chat {
        width: 90% !important;
    }
}
@media only screen and (max-width: 425px) {
    .my-chat {
        width: auto !important;
    }

    .your-chat {
        width: auto !important;
    }
}
